<div id="todos">
  <header>
    <h2><%= @list[:name] %></h2>

    <ul>
      <li>
        <a class="edit" href="/lists/<%= @list_id %>/edit">
          Edit this list
        </a>
      </li>
    </ul>
  </header>
  <ul>
    <% @list[:todos].each_with_index do |todo, index| %>
      <li class="<%= todo[:done] ? 'complete' : '' %>">
        <form action="/lists/<%= @list_id %>/todos/<%= index %>/check" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:done] %>" />
          <button type="submit">Complete</button>
        </form>

        <h3><%= todo[:name] %></h3>

        <form action="/lists/<%= @list_id %>/todos/<%= index %>/destroy" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</div>

<form action="/lists/<%= @list_id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo_name">Create a new Todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Something to do" type="text" value="<%= params[:todo_name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All lists</a>
<% end %>
